/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://www.cssportal.com
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASE */
:root {
	--primary-color: #69c8d0;
	--primary-color-rgb: 105, 200, 208;
	--primary-color-lighter: #aff9f9;
	--primary-color-lightest: #cbf7f3;
	--secondary-color: #f50057;
	--secondary-color-rgb: 245, 0, 87;
	--black: #1a1e1f;
	--black-rgb: 26, 30, 31;
	--white: #fafcfc;
	--white-rgb: 250, 252, 252;
	--medium-gray: #8c8c8c;
	--light-gray: #c6c6c6;
}
html {
	font-size: 16px;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Open Sans Light", Candara, Arial, sans-serif;
	background-color: #1884df;
	background-color: var(--black);
}
input,
select,
textarea,
th,
td {
	font-size: 1em;
}
* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: AlexBrush;
	src: url(fonts/AlexBrush.ttf);
}
@font-face {
	font-family: Lobster;
	src: url(fonts/Lobster-Regular.ttf);
}
@font-face {
	font-family: Lily;
	src: url(fonts/upclbi.ttf);
}
img {
	border: none;
}
a {
	color: white;
	text-decoration: none;
}
a:visited {
}
a:hover {
	color: teal;
}
h1 {
	font-size: 1.5em;
	font-family: Lobster;
}
h2 {
	font-size: 1.1em;
	font-family: Lobster;
}

/* HEADER */
header {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background-color: var(--black);
	margin: 0 auto;
	width: 100%;
	height: 60px;
	padding: 0;
}
header .by-line {
	display: none;
	font-size: 12px;
	color: var(--primary-color);
	font-weight: 600;
	position: relative;
	top: -6px;
	left: 10px;
}
a.logo-link {
	display: inline;
	font-family: Lily, Lobster, AlexBrush;
	font-size: 1.5em;
	color: #3399ff;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: -5px;
	left: -2px;
}
.page-container {
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/* NAV */
nav {
	background-color: red;
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.nav-link {
	display: inline-block;
	border-radius: 5px;
	color: #e6f2ff;
	text-align: center;
	padding: 1px 15px;
	margin-bottom: 1px;
	background-color: #5c00e6;
	text-decoration: none;
	font-size: 1em;
	font-family: Candara, Arial, sans-serif;
	font-weight: bold;
}
.nav-active {
	background-color: #5c00e6;
	color: #f7fbff;
}
.nav-link:hover {
	background-color: #3399ff;
	color: #f7fbff;
}
.nav-active:hover {
	background-color: #a676ed;
}
li.search-box {
	color: #f7fbff;
	float: right;
}
li input {
	border-radius: 3px;
	background-color: #f7fbff;
	border: 1px solid #3399ff;
}

/* BODY */
.main {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-self: flex-start;
	align-items: flex-start;
	-webkit-align-self: flex-start;
	-webkit-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-webkit-align-items: flex-start;
	flex: 0 0 100%;
	background-color: var(--black);
	height: calc(100vh - 160px);
}
.left-panels {
	display: flex;
	flex: 1;
	min-width: 300px;
	flex-flow: column nowrap;
	height: calc(100vh - 60px);
	background-color: var(--black);
}
.left-panel-1 {
	background-color: var(--black);
	width: 280px;
	height: 500px;
	height: auto;
	padding: 10px;
}
.left-panel-2 {
	background-color: #4d4e53;
	background-color: var(--black);
	width: 280px;
	height: 200px;
	height: auto;
	padding: 10px;
}
.right-panels {
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	flex: 4;
	flex-flow: column;
	min-height: 100px;
	min-height: 87vh;
	width: 1px;
	background-color: #f7fbff;
	background-color: #aba5b5;
	background-color: #bac0de;
	background-color: #e1e4f1;
	background-color: var(--black);
}
.right-panel-1 {
	display: flex;
	flex-flow: row nowrap;
	width: 74vw;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 0;
	background-color: #c5cade;
	background-color: var(--black);
}
.right-panel-2 {
	flex: 1;
	padding: 0;
	overflow-y: scroll;
}
.breadcrumb-container {
	flex: 1;
}
.breadcrumb-text {
	display: inline-block;
	color: var(--white);
	font-weight: 600;
	font-size: 1.2rem;
	padding-top: 14px;
}

/* FOOTER */
footer {
	flex: 1;
	height: auto;
	background-color: #4d4e53;
	color: #aba5b5;
	text-align: center;
	padding: 10px 0;
}

/* EASY ENTRY FORM FIELD */
.ee-form-field {
	flex: 1;
	max-width: 300px;
}
.ee-heading {
	float: left;
}
.ee-form-link {
	flex: 2;
	float: left;
}
.ee-url {
	border-radius: 3px;
	background-color: #f7fbff;
	border: 1px solid #aba5b5;
	width: 150px;
	height: 18px;
}
.ee-link-submit {
	font-size: 0.9em;
	background-color: #aba5b5;
	background-color: #b8cddf;
	border-right: 2px solid #485d75;
	border-bottom: 3px solid #485d75;
	color: #485d75;
	padding: 2px 4px;
}

/* ADD PAGE */
.add-link-form {
	flex: 1;
	height: 250px;
	width: 300px;
}
.add-group-form {
	flex: 1;
	background-color: lightblue;
	height: 100px;
}

/* SEARCH BOX */
.search-box {
	flex: 1;
	max-width: 225px;
}
.search-input {
	border-radius: 3px;
	background-color: #f7fbff;
	border: 1px solid #aba5b5;
	width: 150px;
	height: 18px;
}
.search-submit-button {
	font-size: 0.9em;
	background-color: #b8cddf;
	border-right: 2px solid #485d75;
	border-bottom: 3px solid #485d75;
	color: #485d75;
	padding: 2px 4px;
}
.scroll-container {
	background-color: var(--black);
	height: calc(100vh - 160px);
	min-width: 260px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 5px;
}
.group-tree {
	height: 450px;
}

/* GROUP TREE */
.group-tree-header-container {
	display: flex;
	flex-flow: column wrap;
	padding: 7px 3px 0 3px;
	margin-bottom: 8px;
}
.groups-heading {
	flex: 1 0 100%;
	color: var(--white);
	font-size: 12px;
	padding-bottom: 12px;
}
.gt-create-group-form {
	flex: 1 0 100%;
	display: flex;
	flex-flow: row nowrap;
}
.gt-create-group-name {
	border-radius: 3px;
	background-color: var(--white);
	border: 1px solid var(--light-gray);
	width: 80%;
	height: 22px;
	margin: 0 5px 7px 0;
	flex: 1 0 80%;
}
.gt-create-group-button {
	background-color: var(--primary-color);
	color: var(--black);
	border: 2px solid var(--black);
	border-radius: 0 3px 3px 0;
	padding: 3px;
	height: 28px;
	font-size: 0.8em;
	font-weight: 600;
	flex: 1 0 21%;
	position: relative;
	left: -10px;
	top: -2px;
}
.icon-folder {
	height: 14px;
	width: 14px;
	display: inline;
	padding-right: 3px;
}
ol.tree {
	display: inline-block;
	display: none;
	background-color: #f7fbff;
	background-color: cornsilk;
	padding: 0 0 0 30px;
	width: 260px;
	height: 400px;
}
li a {
	color: darkblue;
}

/* Group tree */
#groupTree {
	display: inline-block;
	padding: 20px 0 0 0;
	width: 200px;
	height: auto;
	margin: 0;
}
#groupTree > ol > li > label > a {
	font-weight: 600;
}
#groupTree > ol > li > ol > li > label > a {
	font-weight: 400;
}
label.toggle {
	font-size: 0.8em;
	color: var(--black);
	background-color: var(--secondary-color);
	border: 0;
	padding: 3px;
	font-weight: 600;
	float: right;
}
input#toggle-all {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
#groupTree label > a {
	display: inline;
	width: 100%;
	color: #485d75;
	color: var(--white);
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}
#groupTree label > a:hover {
	background-color: #b8cddf;
	background-color: var(--white);
	color: #485d75;
	color: var(--black);
}
#groupTree li {
	position: relative;
	padding-left: 0;
	list-style: none;
	width: 100%;
}
#groupTree .active-group {
	color: #f7fbff;
	color: var(--white);
	background-color: #1884df;
	background-color: var(--secondary-color);
	font-weight: 400;
}
#groupTree li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
#groupTree li input + ol {
	margin: 0;
	height: 1em;
}
#groupTree li input ~ ol > li {
	display: none;
}
#groupTree li ol > li {
	padding-left: 20px;
}
#groupTree li label {
	cursor: pointer;
	display: block;
	padding-left: 0;
	width: 100%;
}
#groupTree li input:checked + ol {
	margin: 0;
	padding: 0;
	height: auto;
}
#groupTree li input:checked ~ ol > li {
	display: block;
	margin: 0;
}
#groupTree li input:checked + ol > li:last-child {
	margin: 0;
}

/* RESULTS TABLE */
#results {
	box-sizing: border-box;
	font-size: 0.9em;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0px 1px;
	border: 0;
	width: 73vw;
	margin-top: 7px;
	overflow-y: scroll;
}
#results td {
	font-size: 0.92em;
}
#results tr,
#results th,
#results td {
	height: 0px;
	margin: 0px;
	padding: 0 0 0 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-right: 0px solid #aba5b5;
}
#results th {
	background-color: var(--secondary-color);
	color: #f7fbff;
	transition: 0.25s ease;
	height: 20px;
}
#results th.show-row {
	width: 14px;
	padding: 0 1px;
	margin: 0;
}
#results th.group {
	width: 70px;
	padding: 0 5px;
}
#results th.starred {
	width: 10px;
	padding: 0 auto;
}
#results th.title {
	width: 215px;
}
#results th.title:hover {
	width: 215px;
}
#results th.summary {
	width: 120px;
}
#results th.summary:hover {
	width: 120px;
}
#results th.notes {
	width: 100px;
}
#results th.notes:hover {
	width: 100px;
}
#results th.date {
	width: 40px;
}
#results td.add-group-line {
	padding: 5px 0px 5px 50px;
	background-color: #ffd3a3;
}
td.align-left {
	text-align: left;
}
#results th.modify {
	width: 32px;
	padding: 0px;
	text-align: center;
}
button[type="send"] {
	cursor: pointer;
	background: none;
	border: 0;
	height: 20px;
	width: 20px;
	margin: 0;
	padding: 0;
}
button.button-row-expand {
	padding: 1px 4px;
	margin: 0;
	border: 0;
	background: none;
	cursor: pointer;
}
#results tr:nth-child(even) {
	background-color: #e6f2ff;
	background-color: rgba(230, 242, 255, 0.85);
	background-color: var(--primary-color-lighter);
}
#results tr:nth-child(odd) {
	background-color: #cce4ff;
	background-color: rgba(204, 228, 255, 0.85);
	background-color: var(--primary-color-lightest);
}
#results td:nth-child(8n + 1) {
	background-color: #e6f2ff;
	background-color: rgba(0, 0, 0, 0.1);
}
#results td:nth-child(8n + 7) {
	background-color: #e6f2ff;
	background-color: rgba(0, 0, 0, 0.1);
}
#results td:nth-child(8n + 8) {
	background-color: #e6f2ff;
	background-color: rgba(0, 0, 0, 0.1);
}
#results tr:hover {
	background-color: #b3b3ff;
	background-color: var(--primary-color);
}
#results td:hover {
	white-space: normal;
	text-overflow: clip;
}
a.webmark-title {
	color: #003ce6;
	color: #40424d;
	color: #e6f2ff;
	color: #40424d;
	font-size: 1.1em;
	text-decoration: none;
	display: block;
	font-family: "Open Sans Light", Candara, Arial, sans-serif;
	padding: 2px 4px;
}
a.webmark-title:hover {
	color: #5c00e6;
	color: var(--black);
	transition-duration: 0.25s;
	font-weight: bold;
	padding-left: 5px;
}
/* GROUP DISPLAY AND CUSTOM COLORS */
span.groupDisplay {
	font-size: 0.95em;
	font-weight: 500;
	color: #f2f8ff;
	background-color: #4d4e53;
	border: 0px solid #95969c;
	border-radius: 25px;
	padding: 0 10px;
	opacity: 1;
}
span.monies {
	background-color: darkgreen;
	color: chartreuse;
}
span.medical {
	background-color: firebrick;
	color: lightgoldenrodyellow;
}
span.alex {
	background-color: dodgerblue;
	color: #f2f8ff;
}
span.desteni {
	background-color: lightgoldenrodyellow;
	color: rebeccapurple;
}
span.webdev {
	background-color: aquamarine;
	color: rebeccapurple;
}
.r-border {
	border-right: 1px solid #4d4e53;
}
